/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-progress-bar .mat-progress-bar-buffer {
    background: rgb(248, 246, 243);
  }

  mat-progress-bar .mat-progress-bar-fill::after {
    background: #f44336 !important;
  }