<div class="mainDiv">  
  <div class="txt">
    {{title}} 
  </div>
  <div class="auth">{{auth}}</div>
  
      <div class="btn">
      <button  (click)="sharedService.goToPage('quiz')" mat-flat-button color="warn">{{start}}</button>
  </div>
 
</div>