.mainDiv {
    padding-top: 10%;
}

.btn {
    padding-top: 5%;
   
}
.txt {
        font-size:200%;
        width: 60%;
        height: 60%;
        margin-left: 20%;
        color: rgb(1, 1, 12);
        font-family: cursive;
        font-weight: 100;
    
   
}
.auth {
    font-size:100%;
    width: 60%;
    height: 60%;
    margin-right: 30%;
    color: rgb(1, 1, 12);
    font-family: cursive;
    font-style: italic;
    font-weight: 100;


}