<div class="mainDiv">
  <div class="container">
    <div class="title">
        <h1>{{correctAns}}/{{totalNum}} {{label}}

          <button id="add-btn" mat-fab color="warn" aria-label="Next" 
            matTooltip="Play again" (click)="sharedService.goToPage('')"  >
          <mat-icon>home</mat-icon>
          </button>

        </h1>
    </div>

    <mat-divider></mat-divider>

  
    <div *ngFor="let item of result | keyvalue">
      <h2> {{item.key.Question}}</h2>
      <div class="radio-group" [style.background-color]="sharedService.getClassBasedOnValue(item.value.IsTrue)">
            <mat-radio-button disabled  class="radio-button" *ngFor="let answer of item.key.Answers" [checked]="answer.IsTrue">
              <div class="radio-font"> {{answer.Text}} </div>
            </mat-radio-button>
      </div>

      <div *ngIf='item.value.IsTrue===false'>
        <p>{{wrongAns}} {{item.value.Text}}</p>
      </div>
      <mat-divider></mat-divider>
      
    </div>
    
  </div>
</div>