.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }

  .radio-font {
      font-size: 120%;
      font-weight: 400;
  }
  .mainDiv{
    position: relative;
  }

  .btn {
    padding-top: 10%;
  }
  #add-btn{

    right: 20px;
    left: auto;
    position: absolute;
    top: 0pm;
  }

  .title {
      padding: 3%;
  }
