<div class="mainDiv">
  <div class="container">
    <div class="row">
  
      <h1 id="col-f"> {{index}}. {{question.Question}}</h1>
      
        <button id="add-btn" mat-icon-button  color="warn" aria-label="Next" 
        matTooltip="Play again" (click)="sharedService.goToPage('')" >
          <mat-icon>home</mat-icon>
        </button>

    </div>
    <mat-progress-bar
          [color]="warn"
          [mode]="mode"
          [value]="(index/numOfQues)*100">
}"
      </mat-progress-bar>
      
    <mat-divider></mat-divider>

    <mat-radio-group [name]='index'
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="answer">
      <mat-radio-button  class="radio-button" *ngFor="let answer of question.Answers" [value]="answer">
        <div class="radio-font"> {{answer.Text}} </div>
      </mat-radio-button>
    </mat-radio-group>

    <div class="btn">
      <button  (click)="next(answer)" [disabled]="answer === null" id="add-button" matTooltip="Next"  mat-mini-fab color="warn" aria-label="Next" >
                <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
<div>



