<div class="centered">
  <mat-card>
  
    
      <div *ngIf="activeQuestion" class="module question">
         <app-question  [question]="question" [numOfQues]="numOfQues" [index]="ind" (answered)="onAnswer($event)"></app-question>
      </div>
   
    <div *ngIf="activeQuestion===false" class="module question">
      <app-result [result]="results" ></app-result>
    </div>

   
  </mat-card>
   <div *ngIf="activeQuestion===null" >
      
    </div>
</div>