.image{
  
    min-height: 100%;
    height:auto; 
    background-size:cover;
    width:100%;
    background-image:url(~src\assets\images\bg.jpg);
    background-position:top center; 
  }
  .centered{
   
    text-align: center;
    padding: 70px 0;
  }
  .title {
    font-size: 900%;
    color: rgb(1, 1, 12);
    font-family: SmithFamily;
    font-weight: 400;

  }
  .play{
    font-size: 350%;
    color: rgb(1, 1, 12);
    font-family: SmithFamily;
    padding-top: 20px 0;
    font-weight: 400;
  }
  .start{
    padding: 120px 0;
  }