<!--The content below is only a placeholder and can be replaced.-->
<div class="image" >
    <div class="centered">
        
         <div class="title"> {{ title }} </div>   
        <router-outlet></router-outlet>
    </div >
</div>



